html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("");
  background-color: #3D2F2C;
}


.main-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  background-color: #DCD0B8;
  font-family: 'Cardo', serif;
  padding: 0px 10px 10px 13px;
}

.nav {
  list-style-type: none;
  display: inline-block;
  background-color: #707D69;
  width: 100%;
}

a{
  text-decoration: none;
}

.nav--sub{
  list-style-type: none;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
}

.nav li{
  float: left;
  margin: 5px 5px 5px 5px;
}

.content-div, .about, .client, .contact, .experience, .presentations, .specializations{
  background-color: #DCD0B8;
  font-family: 'Cardo', serif;
  padding: 1px 10px 10px 13px;
  margin-top: 25px;

}

.about--pic {
  float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
}


