html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("assets/light-grey-floral-motif.png");
  background-color: #DCD0B8;
  border-top: solid 5px #3D2F2C;
  border-bottom: solid 5px #3D2F2C;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #3D2F2C;
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.title {
  background-color: #DCD0B8;
  font-family: 'Cardo', serif;
  padding: 0px 10px 10px 13px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;  
}

.nav {
  list-style-type: none;
  display: inline-block;
  background-color: #707D69;
  float: left;
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.nav--sub{
  list-style-type: none;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
}

.nav li{
  float: left;
  margin: 5px 5px 5px 5px;
}

.content-div, .about, .client, .contact, .experience, .presentations, .specializations{
  background-color: #DCD0B8;
  font-family: 'Cardo', serif;
  padding: 1px 10px 10px 10px;
  margin-top: 25px;
  border: solid 15px #3D2F2C;
  border-style: double;
}

.about--pic {
  float: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.corner-left {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 164px;
  border-top: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 10px solid #3D2F2C;
}

.corner-right {
  width: 0px;
  height: 0px;
  position: absolute;
  right: 54px;
  top: 164px;
  border-top: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid #3D2F2C;
}

footer{
  background-color: #707D69;
  width: 80%;
  position: relative;
  padding: 1px 0px 1px 0px;
  margin: -26px auto 20px auto;
}

footer ul {
  padding-left: 10px;
}

footer li {
  color: white;
  margin: auto 5px auto 5px;
  display: inline-block;
}

.footer-left {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 10px solid #3D2F2C;
}

.footer-right {
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0px;
  top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid #3D2F2C;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #3D2F2C;
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

/*Sliding images*/

.jumbotron{
  position: relative;
  display: block;
  overflow: hidden;
}
.slide{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  max-width: 100%;
  max-height: 100%;
  border: solid 1px;
}

img.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}

.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}



