html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("");
}

.main-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  list-style-type: none;
  display: inline-block;
  background-color: #92B2A9;
  width: 100%;
}

a{
  text-decoration: none;
}

h1, p{
  font-family: 'Cardo', serif;
}

.nav--sub{
  list-style-type: none;
  display: inline-block;
}

.nav li{
  float: left;
  margin: 0 5px 0 5px;
}

.content-div, .title{
  background-color: #FFEFEA;
}


